.inputRow {
  display: flex;
  flex-direction: row-reverse;
  flex: 1;
}

.inputRow input {
  min-width: 0;
}

.number {
  flex: 0 1 5%;
  display: flex;
  justify-content: center;
  background-color: #2d3439;
  color: #f0eeee;
  padding: 1rem 0;
  margin-left: 2px;
  border: 1px solid #f0eeee;
}

.product {
  flex: 0 1 50%;
  border: 1px solid #2d3439;
  padding: 1rem .5rem 1rem 0;
  border-bottom: none;
  text-align: right;
  
}

.product:focus {
  outline: none;
}
.numProduct {
  flex: 0 1 5%;
  border: 1px solid #2d3439;
  border-right: none;
  padding: 1rem 0;
  border-bottom: none;
  text-align: center;
}
.numProduct:focus {
  outline: none;
}
.price {
  flex: 0 1 20%;
  border: 1px solid #2d3439;
  border-right: none;
  padding: 1rem 0;
  border-bottom: none;
  text-align: center;
}
.price:focus {
  outline: none;
}
.totalPrice {
  display: flex;
  flex: 1 1;
justify-content:center;
  font-size: 1.4rem;
  font-weight: 600;
  border: 1px solid #2d3439;
  border-right: none;
  padding: 1rem 0;
  border-bottom: none;
  
}

/* round first and last */

.number.roundFirst {
  border-radius: 0 1.5rem 0 0;
}

.number.roundLast {
  border-radius: 0 0 1.5rem 0;
}

.totalPrice.roundFirst {
  border-radius: 1.5rem 0 0 0;
}

.totalPrice.roundLast {
  border-radius: 0 0 0 1.5rem;
}

/* last element border deleting */
.lastElement * {
  border-bottom: 1px solid #2d3439;
}
